.app-cascader-form {
  .ivu-input {
    background: rgba(7, 46, 89, 0.52);
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-radius: 0;
    color: #fff;
    height: 34px;
    &::placeholder {
      color: rgba(254, 254, 254, .5);
      font-size: 14px;
      height: 34px;
      line-height: 32px;
    }
  }
  .ivu-icon-ios-arrow-down {
    color: rgba(255, 255, 255, .8);
    cursor: pointer;
    font-size: 24px;
    &:before {
      content: '\F33D';
    }
  }
  .ivu-icon-ios-close-circle {
    font-size: 20px;
    &:before {
      content: '\F378';
    }
    &:hover {
      color: #ffffff;
    }
  }
  .ivu-cascader-menu-item {
    color: #fff;
    &:hover {
      background: rgba(45, 140, 240, .9);
    }
  }
  .ivu-cascader-menu-item-active {
    background: rgba(45, 140, 240, .9);
  }
}