/******** 条件日期选择器 ********/
.app-datepicker-condition {
  color: #ffffff;
	font-size: 14px;
	.date-container {
    height: 34px;
    display: flex;
    align-items: center;
    background: rgba(7, 46, 89, 0.52);
    border: 1px solid rgba(0, 255, 255, 0.3);
    &:hover, &:focus {
      border: 1px solid #00ffff;
    }
    span {
      display: inline-block;
      line-height: 30px;
    }
    .app-icon {
      font-size: 18px;
      margin: 0 10px;
    }
	}
}

.ivu-select-dropdown {
  background: #176eb7;
  color: #ffffff;
  .ivu-date-picker-header {
    border-bottom: 1px solid rgba(45, 140, 240, .9);
  }
  .ivu-picker-confirm {
    border-top: 1px solid rgba(45, 140, 240, .9);
    padding: 8px 8px 2px 8px;
  }
  .ivu-date-picker-cells-cell-range:before, .ivu-date-picker-cells-cell:hover em {
    background: rgba(45, 140, 240, .9);
  }
  .ivu-date-picker-cells-month .ivu-date-picker-cells-cell-focused, .ivu-date-picker-cells-year .ivu-date-picker-cells-cell-focused {
    background: rgba(45, 140, 240, .9);
  }
  .ivu-time-picker-cells-cell-selected, .ivu-time-picker-cells-cell-selected:hover, .ivu-time-picker-cells-cell:hover {
    color: #fff; background: #029bff;
  }
  span.ivu-date-picker-cells-cell-disabled, span.ivu-date-picker-cells-cell-disabled:hover {
    background: transparent;
  }
  span.ivu-date-picker-cells-cell-disabled, span.ivu-date-picker-cells-cell-disabled:hover, span.ivu-date-picker-cells-cell-week-label, span.ivu-date-picker-cells-cell-week-label:hover {
    color: #ffda2e;
  }
  .ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list ul, .ivu-time-picker-cells-list ul {
    padding: 0;
  }
  .ivu-btn-ghost{
    color: #666666;
  }
  .ivu-btn-text{
    color: #666666;
  }
  .ivu-picker-confirm-time {
    color: #ffffff;
    &:hover {
      color: #ffda2e;
      background: none;
      border-color: transparent;
    }
  }
}
