/******** 表格分页 ********/
.app-page-table {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #ffffff;
  .ivu-page-total {
    flex: 1;
    text-align: left;
  }
	.ivu-page-next, .ivu-page-prev, .ivu-page-item-jump-next, .ivu-page-item-jump-prev, .ivu-page-item {
		background: rgba(0, 34, 66, .25);
		border: 1px solid #ffffff;
		border-radius: 2px;
		margin-right: 8px;
		a {
			color: #ffffff;
			.ivu-icon {
				vertical-align: baseline;
			}
		}
	}
	.ivu-page-item-active {
		background: #ffffff;
		border: 0;
		a {
			color: #00102e;
		}
	}
	.ivu-page-options-elevator {
		input {
			width: 48px;
			padding: 4px 8px;
			background: rgba(0, 34, 66, .25);
			border: 1px solid #ffffff;
			border-radius: 2px;
			color: #ffffff;
		}
	}
}
