/******** 设置开关 ********/
.app-switch-setting {
  &.app-switch-disable {
    pointer-events: none;
  }
  &.ivu-switch {
    width: 62px;
    height: 26px;
    line-height: 24px;
    border-radius: 26px;
    border: 1px solid rgba(0, 181, 249, .45);
    background: #07498f;
    &:after {
      width: 22px;
      height: 22px;
      border-radius: 22px;
      background: #00b5f9;
    }
  }
  &.ivu-switch-loading {
    opacity: 0.6;
    &::before {
      width: 18px;
      height: 18px;
      left: 3px;
      top: 3px;
      border: 1px solid #07498f;
      border-color: transparent transparent transparent #07498f;
    }
  }
  &.ivu-switch-checked {
    border: 1px solid rgba(0, 181, 249, .45);
    background: #00b5f9;
    &:after {
      left: 37px;
      background: #ffffff;
    }
    &::before {
      left: 39px;
    }
  }
}
