/******** 排序标签页 ********/
.app-tabs-sort {
  >.ivu-tabs-bar {
    margin-bottom: 0;
    border: none;
    .ivu-tabs-nav-wrap,
    .ivu-tabs-nav-container {
      margin-bottom: 0;
    }
    .ivu-tabs-ink-bar {
      height: 0;
    }
    .ivu-tabs-nav-scroll {
      &::after {
        display: none;
      }
    }
    .ivu-tabs-nav {
      .ivu-tabs-tab {
        padding: 9px 10px;
        font-size: 16px;
        line-height: 16px;
        color: #ffffff;
        background: none;
        border: none;
        margin-right: 0;
        position: relative;
        &:hover {
          color: #ffffff;
        }
        &::before {
          display: none;
        }
        &:not(:last-child):after {
          content: '';
          display: block;
          width: 1px;
          height: 16px;
          background: rgba(255, 255, 255, 0.3);
          position: absolute;
          right: 0;
          top: 9px;
        }
      }
      .ivu-tabs-tab-active {
        color: #01FBFC;
        &:hover {
          color: #01FBFC;
        }
      }
    }
  }
}